<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новая субару в продаже!</h1>
    <p>
      <h4><%= @car[:title] %> <%= @car[:price] %></h4><br>
    </p>
    <p>
      <%=@car[:image]%><br>
    </p>
    <p>
      <%=@car[:url]%><br>
    </p>
  </body>
</html>